* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* Стиль для иконок Material Symbols Rounded */
.material-symbols-rounded {
  font-weight: normal;
  font-style: normal;
  font-size: 36px; /* Размер иконок */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  cursor: pointer; /* Указатель в виде руки при наведении */
}

/* Стиль для кнопки открытия меню */
#menuButton {
  position: fixed; /* Фиксированное положение относительно окна браузера */
  top: 20px; /* Отступ сверху */
  left: 20px; /* Отступ слева */
  z-index: 1001; /* Положение по оси Z для перекрытия других элементов */
}

/* Стиль для кнопки закрытия меню */
#closeButton {
  position: absolute; /* Абсолютное положение внутри родительского элемента */
  top: 20px; /* Отступ сверху */
  right: 20px; /* Отступ справа */
  cursor: pointer; /* Указатель в виде руки при наведении */
}

/* Стиль для самого меню */
.menu {
  position: fixed; /* Фиксированное положение относительно окна браузера */
  top: 0; /* Выравнивание по верхнему краю */
  left: 0; /* Выравнивание по левому краю */
  width: 250px; /* Ширина меню */
  height: 100%; /* Высота меню, равная высоте окна браузера */
  background-color: #333; /* Фоновый цвет меню */
  color: #fff; /* Цвет текста */
  transform: translateX(-100%); /* Сдвиг меню за левый край экрана */
  transition: transform 0.3s ease; /* Плавный переход для сдвига меню */
  z-index: 1000; /* Положение по оси Z для перекрытия других элементов */
}

/* Стили для списка внутри меню */
.menu ul {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем внутренние отступы */
  margin: 60px 0 0 0; /* Отступ сверху для списка */
}

/* Стиль для элементов списка */
.menu li {
  padding: 15px; /* Внутренний отступ */
  border-bottom: 1px solid #444; /* Нижняя граница для разделения элементов */
}

/* Стиль для открытого состояния меню */
.menu.open {
  transform: translateX(0); /* Сдвигаем меню в видимую область экрана */
}
.menu .submenu {
  display: none;
  padding-left: 15px;
  border-left: 1px solid #444;
}

.menu .submenu li {
  border: none;
}

.menu.open {
  transform: translateX(0);
}
